
body {
	background-color: #F4FEFC;
	font-family: "Ubuntu";
}

.welcome {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	text-align: center;
	padding-top: 100px;
  }

.title {
	color: #50A1A7;
	text-shadow: 2px;
	font-weight: 600;
	padding: 1rem;
  }
  
.public {
	padding: 1em;
	flex-grow: 1;
  }
  
.public__main,
.login {
	flex-grow: 1;
	border-top: 2px solid var(--BORDER-COLOR);
	border-bottom: 2px solid var(--BORDER-COLOR);
	padding: 1em 0;
}
  
.public__addr {
	margin-top: 1em;
}
  
.welcome a::before {
	content: "➜ "
}
